body {
    font-size: 16px; /* 設定根元素字體大小為 16px */
}

@media (max-width: 1024px) {
    body {
        font-size: 12px; /* 手機版的字體大小 */
    }
}

/* 當螢幕寬度大於 768px（桌面）時 */
@media (min-width: 1025px) {
    body {
        font-size: 16px; /* 桌面版的字體大小 */
    }
}

.translate {
    color: darkblue;
    border: 1px dashed darkblue;  /* 設定虛線邊框，顏色為黑色 */
    padding: 2px;  /* 給 span 增加一些內距，使邊框可見 */
    margin-top: 0px;
    margin-bottom: -10px;
}

.furigana {
    color: darkred;
  }
  
.container {
    display: flex;            /* 設定為 Flexbox */
    align-items: center;      /* 垂直置中對齊 */
}

details {
    margin-bottom: 20px;
}

svg {
    margin-right: 8px;        /* SVG 與文字之間加一點間距 */
}